# Dependencies
node_modules/

# Environment
.env

# Build output
dist/

# Reports & test artifacts
reports/
allure-results/
allure-report/
test-results/

# Playwright
playwright-report/
blob-report/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
